<section class="bg-primary border-b  border-[#1E2A44]/10 w-full top-0 z-50">
    <div class="max-w-7xl mx-auto py-20 px-4 md:px-8">
        <div class="flex justify-between items-end mb-10">
            <h2 class="text-text-primary text-3xl md:text-4xl font-bold tracking-tight">
                Trending in the Loop
            </h2>
            <a href="#" class="text-text-primary font-bold border-b-2 border-secondary pb-0.5 hover:text-text-primary/80 transition-colors">View All</a>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            <div class="group flex flex-col gap-3">
                <div class="w-full aspect-2/3 bg-gray-200 relative overflow-hidden">
                    <img src="assets/images/TheLoveHypothesis.jpg" alt="The Love Hypothesis Book Cover"
                    class="absolute insert-0 bg-cover w-full h-full trending-img bg-center transition-transform duration-500 group-hover:scale-105"
                    >
                    <div class="absolute top-2 left-2 bg-secondary text-text-primary text-xs font-bold px-2 py-1">ROMANCE</div>
                </div>
                <div>
                    <h4 class="text-text-primary text-lg font-bold leading-tight group-hover:underline decoration-accent underline-offset-4">The Love Hypothesis</h4>
                    <p class="text-text-primary/70 text-sm font-medium mt-1">Ali Hazelwood</p>
                </div>
            </div>
            <div class="group flex flex-col gap-3">
                <div class="w-full aspect-2/3 bg-gray-200 relative overflow-hidden">
                    <img src="assets/images/TheLoveHypothesis.jpg" alt="The Love Hypothesis Book Cover"
                    class="absolute insert-0 bg-cover w-full h-full trending-img bg-center transition-transform duration-500 group-hover:scale-105"
                    >
                    <div class="absolute top-2 left-2 bg-secondary text-text-primary text-xs font-bold px-2 py-1">ROMANCE</div>
                </div>
                <div>
                    <h4 class="text-text-primary text-lg font-bold leading-tight group-hover:underline decoration-accent underline-offset-4">The Love Hypothesis</h4>
                    <p class="text-text-primary/70 text-sm font-medium mt-1">Ali Hazelwood</p>
                </div>
            </div>
            <div class="group flex flex-col gap-3">
                <div class="w-full aspect-2/3 bg-gray-200 relative overflow-hidden">
                    <img src="assets/images/TheLoveHypothesis.jpg" alt="The Love Hypothesis Book Cover"
                    class="absolute insert-0 bg-cover w-full h-full trending-img bg-center transition-transform duration-500 group-hover:scale-105"
                    >
                    <div class="absolute top-2 left-2 bg-secondary text-text-primary text-xs font-bold px-2 py-1">ROMANCE</div>
                </div>
                <div>
                    <h4 class="text-text-primary text-lg font-bold leading-tight group-hover:underline decoration-accent underline-offset-4">The Love Hypothesis</h4>
                    <p class="text-text-primary/70 text-sm font-medium mt-1">Ali Hazelwood</p>
                </div>
            </div>
            <div class="group flex flex-col gap-3">
                <div class="w-full aspect-2/3 bg-gray-200 relative overflow-hidden">
                    <img src="assets/images/TheLoveHypothesis.jpg" alt="The Love Hypothesis Book Cover"
                    class="absolute insert-0 bg-cover w-full h-full trending-img bg-center transition-transform duration-500 group-hover:scale-105"
                    >
                    <div class="absolute top-2 left-2 bg-secondary text-text-primary text-xs font-bold px-2 py-1">ROMANCE</div>
                </div>
                <div>
                    <h4 class="text-text-primary text-lg font-bold leading-tight group-hover:underline decoration-accent underline-offset-4">The Love Hypothesis</h4>
                    <p class="text-text-primary/70 text-sm font-medium mt-1">Ali Hazelwood</p>
                </div>
            </div>
        </div>
    </div>
</section>