<section class="bg-primary border-b border-indigo/10 w-full top-0 z-50">
    <div class="max-w-7xl mx-auto py-20 px-4 md:px-8">

        <div class="flex justify-between items-end mb-10">
            <h2 class="text-text-primary text-3xl md:text-4xl font-bold tracking-tight">
                Trending in the Loop
            </h2>
            <a (click)="handleBookClick()"
                class="text-text-primary cursor-pointer font-bold border-b-2 border-secondary pb-0.5 hover:text-text-primary/80 transition-colors">View
                All</a>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            @for (book of trendingBooks(); track book._id) {
            <div (click)="handleBookClick()" class="group flex flex-col gap-3 cursor-pointer">
                <div class="w-full aspect-2/3 bg-gray-200 relative overflow-hidden">
                    @if (book.imageUrl) {
                        <img [src]="book.imageUrl" alt="Book Cover"
                            class="absolute inset-0 object-cover w-full h-full bg-center transition-transform duration-500 group-hover:scale-105">
                    } @else if (book.images && book.images.length > 0) {
                        <img [src]="book.images[0]" alt="Book Cover"
                            class="absolute inset-0 object-cover w-full h-full bg-center transition-transform duration-500 group-hover:scale-105">
                    } @else {
                        <div class="w-full h-full bg-indigo/5 flex items-center justify-center">
                            <span class="material-symbols-outlined text-indigo/20 text-4xl">auto_stories</span>
                        </div>
                    }
                    <div
                        class="absolute top-2 left-2 bg-secondary text-text-primary text-[10px] uppercase tracking-widest font-bold px-2 py-1">
                        {{ book.genre[0] || book.genre }}
                    </div>
                </div>
                <div>
                    <h4
                        class="text-text-primary text-lg font-bold leading-tight group-hover:underline decoration-accent underline-offset-4 line-clamp-1">
                        {{ book.title }}</h4>
                    <p class="text-text-primary/70 text-sm font-medium mt-1 line-clamp-1">{{ book.author }}</p>
                </div>
            </div>
            } @empty {
            <div class="col-span-full py-12 text-center opacity-50">
                <p class="text-sm font-bold uppercase tracking-widest">Loading trending books...</p>
            </div>
            }
        </div>

    </div>
</section>