<section class="bg-text-primary border-b  border-[#1E2A44]/10 w-full top-0 z-50">
  <div class="max-w-7xl mx-auto py-20 px-4 md:px-8">
    <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-2 max-w-2xl">
            <h2 class="text-primary text-3xl md:text-4xl font-bold tracking-tight">How It Works</h2>
            <p class="text-primary/70 text-lg">Simple, Seamless, and Sustainable Book Cycling.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="flex group flex-col gap-4 border border-primary p-8 bg-text-primary hover:bg-primary transition-colors">
                <div class="w-12 h-12 flex items-center group-hover:text-text-primary justify-center text-primary mb-2">
                    <span class="material-symbols-outlined text-4xl">upload_file</span>
                </div>
                <h3 class="text-primary group-hover:text-text-primary text-xl font-bold">1. List Your Book</h3>
                <p class="text-primary/70 text-base lending-relaxed group-hover:text-text-primary">Upload book details to the library. It takes less than a minute to share your shelf.</p>
            </div>
            <div class="flex group flex-col gap-4 border border-primary p-8 bg-text-primary hover:bg-primary transition-colors">
                <div class="w-12 h-12 flex items-center justify-center group-hover:text-text-primary text-primary mb-2">
                    <span class="material-symbols-outlined text-4xl">person_search</span>
                </div>
                <h3 class="text-primary group-hover:text-text-primary text-xl font-bold">2. Find a match</h3>
                <p class="text-primary/70 text-base lending-relaxed group-hover:text-text-primary">Connect with a reader who wants your book or find one you've been hunting for.</p>
            </div>
            <div class="flex group flex-col gap-4 border border-primary p-8 bg-text-primary hover:bg-primary transition-colors">
                <div class="w-12 h-12 flex items-center justify-center group-hover:text-text-primary text-primary  mb-2">
                    <span class="material-symbols-outlined text-4xl">import_contacts</span>
                </div>
                <h3 class="text-primary group-hover:text-text-primary text-xl font-bold">3. Exchange</h3>
                <p class="text-primary/70 text-base lending-relaxed group-hover:text-text-primary">Swap books directly. Meet locally or ship easily to keep the stories moving.</p>
            </div>
        </div>
    </div>
  </div>
</section>