<section class="bg-primary border-b  border-[#1E2A44]/10 w-full top-0 z-50">
  <div class="max-w-7xl mx-auto py-16 px-4">
    <div class="flex flex-col md:flex-row gap-12 items-center">
        <div class="flex-1 flex flex-col gap-6 text-left max-w-xl">      
            <h1 class="text-5xl md:text-6xl font-bold tracking-tight text-text-primary leading-[1.1]">Exchange Books. <br> Share Stories.</h1>
            <p class="text-lg md:text-xl font-medium text-text-primary/80 max-w-md leading-relaxed">A sustainable community for the modern intellectual. Revitalize your bookshelf without waste.</p>
            <div class="pt-4">
                <button title="Join The Loop" class="h-12 px-8 bg-secondary text-text-primary text-md font-bold tracking-wide uppercase inline-flex items-center gap-2">
                    <span>Join The Loop</span>
                    <span class="material-symbols-outlined">arrow_forward</span>
                </button>
            </div>
        </div>
        <div class="flex-1 w-full">
            <div class="w-full aspect-4/3 bg-primary/5 border border-primary p-2 relative">
                
                <div class="w-full hero-img h-full bg-cover bg-center grayscale contrast-125 opacity-90" 
                data-alt="Minimalist bookshelf with book arranged neatly"
                ></div>

                <div class="absolute -bottom-1 -right-1 w-24 h-24 border-r-2 border-b-2 border-secondary"></div>
                <div class="absolute -top-1 -left-1 w-24 h-24 border-l-2 border-t-2 border-secondary"></div>
            </div>
        </div>
    </div>
  </div>
</section>