@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-primary: #efe6d8;
  --color-text-primary: #1e2a44;
  --color-secondary: #7fa99b;

  --color-indigo: #1E2A44;
  --color-sage: #7FA99B;
  --color-beige: #EFE6D8;

  /* --color-indigo: #1E2A44; */
  --color-accent: #7FA99B;
  --color-paper: #EFE6D8;
  
  --font-sans: 'Inter', sans-serif;

  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;

  --shadow-sm: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-xl: none;
  --shadow-2xl: none;
  --shadow-inner: none;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-primary);
}